@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

body{
    background-color: #363543;
}
.container{
    margin: 0 7%;
}
nav{
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.1);
}

.logo{
    color: #fff;
    display: flex;
    align-items: center;
    align-self: flex-start;
}

.logo i {
    color: #f9b81e;
    font-size: 30px;   
}

.logo h2 {
    padding: 10px;
    font-weight: 500;
    font-size: 25px;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 20px;
}

nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
}

nav ul li a:hover {
    color: #fff;
}



.side-menu{
    align-items: center;
}

.side-menu i {
    color: #b3b3b3;
    flex-direction: row;
    font-size: 25px;
    padding: 20px;   
}

.side-menu i:hover {
    color: #fff;
}

.main {
    width: 100%;
    height: 650px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.mainText {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: visible;
}

.mainTitle {
    font-size: 75px;
    z-index: 9;
    white-space: nowrap;
}

#introText {
    color: #b3b3b3;
}

.goldLine{
    width: 230px;
    border-bottom: 5px solid #f9b81e;
    margin-left: 7px;
    margin-top: 10px;
}

.mainPara {
    color: #b3b3b3;
    width: 327px;
    font-size: 20px;
}
.mainPhoto {
    width: 40%;
    display: flex;
    justify-content: center;
}
.circle{
    height: 500px;
    width: 600px;
    background-color: #2d2d39;
    border-radius: 50%;
}

.mainPic img {
    position: relative;
    z-index: 99;
    margin: 0 auto;
    display: table;
}

.services {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.servicesTitle h3 {
    font-weight: lighter;
    font-size: 20px;
}

.servicesPara P {
    font-size: 19px;
}

.services a {
    color: #f9b81e;
    text-decoration: none;
    font-weight: 600;
    padding: 20px;
}

.services a:hover {
    color: #fff;
}

.servicesLinks {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.social-icons i {
    margin-top: 10px;
    color: #b3b3b3;
    font-size: 25px;
    color: #f9b81e;
}

.services i:hover {
    color: #fff;
}

.portfolio {
    background-color: #2d2d39;
    color: #fff;
}

.networks {
    height: 150px;
    background-color: #403f51;
    box-shadow: 0px 0px 0px 0.5px black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: -80px;
    z-index: 999;
    
}

.networkCards {
    width: 20%;
    height: 50%;
    box-sizing: border-box;
    background-color: #2d2d39;
}

.networkCards a {
    width: 150px;
    height: 40px;
}
.networkCards img {
    width: 100%;
    height: 100%;
    align-self: center;
    object-fit: contain;
}

.pf-intro {
    display: flex;
    justify-content: space-between;
}

.informatics {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 40%;
}

.informatics h1 {
    font-size: 50px;
    margin-top: 50px;
}

#infoP {
    width: 300px;
}

.stats {
    display: flex;
    justify-content: space-around;
    height: 120px;
    width: 220px;
    flex-wrap: wrap;
}

.figures h3 {
    color: #f9b81e;
    font-size: 30px;
    padding: 10px 0;
    font-weight: lighter;
}

.figures p {
    font-size: 10px;
}

.skills {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.skillsCards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px;
    padding: 10px 0;
    border-bottom: 1px solid #424047;
    cursor: pointer;
}
.skillsCards a{
    color: #f9b81e;
}

.skillsCards a:hover{
    color: #fff;
}

.cp {
    width: 30%;
}

.skillstext {
    width: 60%;
}

.skillsArrow {
    width: 10%;
}


.skillsDetails {
    margin-top: 70px;
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.detailsCards {
    height: 250px;
    padding: 10px;
    margin: 0 50px 50px 0;
    background-color: #403f51;
}

.detailsCards i {
    color: #f9b81e;
    font-size: 50px;
    padding: 10px 0 0 20px;
}

.detailsCards h3 {
    font-weight: 600;
    padding: 15px;
}

.detailsCards p {
    padding: 10px;
    word-spacing: 5px;
    width: 70%;
    font-weight: lighter;
}

.detailsCards a {
    color: #f9b81e;
    text-decoration: none;
    padding: 10px;
}

.detailsCards a:hover {
    color: #fff;
}

.testimonials {
    background-color: #363543;
    width: 100%;
    color: #fff;
}

.tmcards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
}

.tmcard {
    width: 42%;
    background-color: #2d2d39;
    margin-top: 20px;
}
.tmTitle {
    color: #f9b81e;
    font-weight: 400;
    padding: 10px 10px 0 10px;
}

.tmDescription {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-left: 10px;
}

.tmDescription a {
    color: #f9b81e;
    padding: 0 30px 30px 30px;
}

.tmDescription a:hover {
    color: #fff;
}

.tmpic {
    height: 400px;
    width: 100%;
    border-radius: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 600px;
    border: 1px solid #f9b81e;
    color: #f9b81e;
    text-align: center;
    background-color: #2d2d39;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    cursor: pointer;    
}

.button a {
    text-decoration: none;
    color: #f9b81e;
}
.button a:hover {
    color: #fff;
}
.button:hover {
    border: 1px solid #fff;
}

.about {
    background-color: #2d2d39;
    margin-top: 20px;
    padding-top: 50px;
    color: #fff;
}
.clientReview {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    border-bottom: 3px solid #424047;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.clientPic {
    height: 100%;
    width: 30%;
}

.reviewText {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
}

.qoutes {
    color: #f9b81e;
    font-size: 50px;
   
}

.reviewPara {
    font-weight: lighter;
    font-size: 40px;
    word-spacing: 15px;
    margin-bottom: 50px;
}

.clientName {
    font-size: 40px;
}

.clientName p{
    font-size: 35px;
    margin-bottom: 50px;
}

.ratings {
    color: #f9b81e;
    font-size: 50px;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
}

.ratings span {
    color: #fff;
    font-size: 25px;
}

.scrolls {
    display: flex;
    justify-content: center;
}
.scroller {
    height: 60px;
    width: 80px;
}

.scroller i {
    font-size: 30px;
}

.hireMe {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}

.hireMeText {
    width: 50%;
}

.hireMeHeading {
    font-size: 35px;
    margin-bottom: 20px;
}

.hireMePara {
    font-size: 26px;
    margin-bottom: 30px;
}

.aboutBtn {
    display: flex;
}

.youtubeBtn a {
    color: #f9b81e;
    border: 1px solid #f9b81e;
    border-radius: 30px;
    height: 60px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    text-decoration: none;
}

.youtubeBtn a:hover {
    background-color: #f9b81e;
    color: #2d2d39;

}



.contactBtn {
    background-color: #f9b81e;
    color: #2d2d39;
    font-weight: bold;
    border-radius: 30px;
    height: 60px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.contactBtn:hover {
    border: 1px solid #f9b81e;
    color: #f9b81e;
    background-color: #2d2d39;
}

.hireMe .circle{
    background-color: #403f51;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #403f51;
    height: 100px;
    margin: 0;
    color: #fff;
}

.samiLogo {
    height: 90%;
    width: 5%;
}